*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    background-color: black;
    min-height: 100%; 
    width: 100%;
}
.total {
    color: white;
    text-align: end;
    font-size: 100px;
    margin: 10px;
    margin-right: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}
.buttons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.item{
    height: 100px;
    font-size: 50px;
    border-radius: 100%;
    margin: 1px
}
.item-gray{
    background-color: rgb(132, 132, 132);
    border: 0;
}
.item-orange{
    background-color: #ff8431;
    border: 0;
}
.item-darkgrey{
    background-color: rgb(55, 55, 55);
    border: 0;
}